
<link asp-append-version="true" href="~/css/AdminPageStyle.css" rel="stylesheet" />

    <a asp-controller="AdminRights" asp-action="AddASkill">
        <article id="inPutArticals" style="width:350px;">
            <div id="strockCard"></div>
            <div id="strockCardInside"></div>

            <h5>New skill</h5>

        </article>
    </a>

    <a asp-controller="AdminRights" asp-action="DeleteASkill">
        <article id="inPutArticals" style="width:350px;">
            <div id="strockCard"></div>
            <div id="strockCardInside"></div>

            <h5>Delete a skill</h5>

        </article>
    </a>
    <a asp-controller="AdminRights" asp-action="NewPokemon">
        <article id="inPutArticals" style="width:350px;">
            <div id="strockCard"></div>
            <div id="strockCardInside"></div>

            <h5>New Pokemon</h5>

        </article>
    </a>
    <a asp-controller="AdminRights" asp-action="EditAPokemon">
        <article id="inPutArticals" style="width:350px;">
            <div id="strockCard"></div>
            <div id="strockCardInside"></div>

            <h5>Edit a Pokemon</h5> 

        </article>
    </a>
    <a asp-controller="AdminRights" asp-action="DeleteAPokemon">
        <article id="inPutArticals" style="width:350px;">
            <div id="strockCard"></div>
            <div id="strockCardInside"></div>

            <h5>Delete a Pokemon</h5> 

        </article>
    </a>


