@model SearchResultModel

<form asp-controller="OverView" asp-action="SearchResult" method="post" style="margin-top:25px; margin-left:25px;">

    <input asp-for="Zoekterm" />
    
    <input type="submit" value="Zoek" style="width:50px; position:relative"/>

</form>